<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iconfont 平台</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" href="images/icon.png" type="image/x-icon"/>
    <style>
        .err {
            width: 960px;
            margin: 20px auto;
            line-height: 500px;
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <%- include header.html %>
    <h1 class="err"><%= typeof info === 'undefined' ? '404 not found! ' : info %></h1>
    <%- include footer.html %>
    <script src="lib/jquery-2.1.4.min.js"></script>
</body>
</html>