<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iconfont 平台</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/platfont.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="icon" href="images/icon.png" type="image/x-icon"/>
</head>
<body>
	<%- include header.html %>
	<div class="layout">
		<div class="content-block border-bottom1px">
			<h1 class="list-title">平台图标库</h1>
			<ul class="icon-list clearfix js-pcList">
			<% for(var i=0;i<platform.length;i++){ %>
				<li class="icon" data-id="<%= platform[i].iconId %>">
					<i class="icon-font <%= platform[i].name %>"></i>
					<span class="icon-content"><%= platform[i].content %></span>
					<span class="icon-name"><%= platform[i].name %></span>
				</li>
			<% } %>
			</ul>
		</div>
		<div class="content-block">
			<h1 class="list-title">移动端图标库</h1>
			<ul class="icon-list clearfix js-pcList">
			<% for(var i=0;i<h5s.length;i++){ %>
				<li class="icon" data-id="<%= h5s[i].iconId %>">
					<i class="icon-font <%= h5s[i].name %>"></i>
					<span class="icon-content"><%= h5s[i].content %></span>
					<span class="icon-name"><%= h5s[i].name %></span>
				</li>
			<% } %>
			</ul>
		</div>
	</div>
	<section id="js-back2top" class="back2top">	
	</section>
	<%- include footer.html %>
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>