<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>制作规范</title>
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/marxico.css">
    <link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="icon" href="images/icon.png" type="image/x-icon"/>
	<style>
	.content{
		width: 960px;
		margin: 0 auto;
	}
	</style>
</head>
<body>
	<%- include header.html %>
	<section class="content">
<div id="wmd-preview-section-96" class="wmd-preview-section preview-content">

<h3 id="展示">展示</h3>

<p>iconfont 平台会分类展示业务中使用的 icon 图标，包括 <code>pc 平台侧</code> 和 <code>手机移动侧</code>。</p></div><div id="wmd-preview-section-107" class="wmd-preview-section preview-content">

<h3 id="下载">下载</h3>

<p>新业务中需要使用 iconfont 平台上的某个或者某些图标时，可以<code>选择需要的图标，生成字体文件</code>，避免加载整个字体文件（文件体积大）。具体操作步骤是：</p>

<ul><li>1. 选择需要使用的 icon 图标，选中的 icon 图标右上角有打勾</li>
<li>2. 点击下载，会将选中的 icon 图标生成字体文件下载到本地，同时生成 demo</li>
</ul></div><div id="wmd-preview-section-9" class="wmd-preview-section preview-content">

<h3 id="上传">上传</h3>

<p>新的 icon 图标从设计师那里过来时，可以点击导航上的上传，将 svg 文件拖拽到框内（<a href="http://iconfont.imweb.io/rule" target="_blank">svg制作规范</a>），完成 svg 的上传，iconfont 平台接受 svg 后，将 svg 导入到数据库中，并显示在平台上。</p></div><div id="wmd-preview-section-footnotes" class="preview-content"></div></div>
	</section>
	<%- include footer.html %>
</body>
</html>