<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="qc:admins" content="3750656077667646157526177" />
	<title>iconfont 平台</title>
	<link rel="stylesheet" href="css/reset.css">
	<!-- <link rel="stylesheet" href="css/marxico.css"> -->
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="icon" href="images/icon.png" type="image/x-icon"/>
</head>
<body>
	<%- include header.html %>
	<%- include login.html %>
	<div class="layout">
		<% 
        var item;
        for(var k in bMaps) { 
            if(bMaps.hasOwnProperty(k)) {
                item = bMaps[k];
                all[k] = all[k]||[];
        %>

		<% if(all[k].length > 0) { %>
		<div  class="content-block relative">
			<h1 class="list-title"><%=item %> - 图标库<span>| <%= all[k].length %></span></h1>
			<a class="rightBtn" id="js-download-btn" href="javascript:;">下载</a>
			<ul class="icon-list clearfix js-pcList">
			<% for(var i=0;i<all[k].length;i++){ %>
				<li class="icon icon-font" data-id="<%= all[k][i].iconId %>">
					<i class="icon-font <%= all[k][i].className %>"></i>
					<span class="icon-content"><%= all[k][i].content %></span>
					<span class="icon-name"><%= all[k][i].className %></span>
				</li>
			<% } %>
			</ul>
		</div>
		<% } else { %>
			
		<% } %>

		<% }
		}
		 %>
	</div>
	<section id="js-back2top" class="back2top icon-font i-to-top">	
	</section>
	<%- include footer.html %>
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>
