<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加标签</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">
    <link rel="icon" href="images/icon.png" type="image/x-icon"/>
</head>
<body>
    <%- include header.html %>
    <div class="container">
        <div class="s-left js-icon" data-id="<%=icon.iconId%>" data-name="<%=icon.name%>">
            <span class="sl-name"><%=icon.className%></span>
            <i class="icon-font <%=icon.className%>"></i>
        </div>
        <div class="s-right">
            <ul id="js-taglist" class="tag-list">
            <% 
            var tag;
            for(var i=0;i<(icon.tags || []).length;i++){ 
                tag = icon.tags[i];
            %>
                <li class="tag" data-id="<%=tag.tagId %>">
                    <%=tag.tag %>
                    <a href="javascript:;" class="js-del del-btn">
                        <i class="icon-font i-close"></i>
                    </a>
                </li>
            <% } %>
            </ul>
            <div class="sr-add">
                <input id="new-tag" type="text" name="tag" placeHolder="请输入要添加的标签"/>
                <a id="js-addtag" href="javascript:;" class="btn add-btn">添加</a>
            </div>
        </div>
    </div>
    <%- include footer.html %>
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/tag.js"></script>
</body>
</html>