<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iconfont 平台</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/upload.css">
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="icon" href="images/icon.png" type="image/x-icon"/>
</head>
<body>
	<%- include header.html %>
	<%- include login.html %>
	<div class="option">
		<select id="js-business" class="form-control" name="business"> 
			<option value="-1">-- 请选择项目 --</option>  
			<% for(var i=0;i<bids.length;i++){ %>
			<option value="<%=bids[i].bid %>"><%=bids[i].name %></option>
			<% } %>
		</select>
		<a href="javascript:void(0)" class="add">添加项目</a>
	</div>
	<div class="addProject">
		<form>
			<input type="text" name="project" id="project" autocomplete="off" placeholder="项目名称">
			<!-- <span></span> -->
			<input type="button" class="submit" value="提交">
		</form>
	</div>
	<div id="upload" class="upload-block">
		<p>将svg文件拖拽至框中上传，<span class="highlight">SVG名以H-(h-), M-(m-)开头被认为是移动端icon，其他默认为pc端icon</span>。</p>
		<p>可以将 svg 文件打包成 zip 压缩包批量上传。<span class="highlight">(目前只支持 zip 压缩包)</span></p>
		<div class="js-mask mask">
			<p>上传中...</p>
		</div>
	</div>

	<div id="js-upInfo" class="u-info">
		<h1 class="u-title">上传结果：(上传之后如发现部分icon不能正常显示，建议重启浏览器)</h1>
		<ul id="js-info" class="info">
		</ul>
	</div>
	<div class="bg"></div>
	<%- include footer.html %>
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="js/uploadAjax.js"></script>
	<script src="js/index.js"></script>
	<script src="js/upload.js"></script>
</body>
</html>