<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iconfont 平台</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="icon" href="images/icon.png" type="image/x-icon"/>
	<style>
	.form-control{
		width: 960px;
		display: block;
		margin: 50px auto 0;
	    height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 20px;
	    color: #555;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	}
	.upload-block{
		width: 960px;
		margin: 20px auto 50px;
		height: 350px;
		padding-top: 200px;
		border: 1px solid #ddd;
	}
	.upload-block p{
		color: #666;
		font-size: 14px;
		line-height: 30px;
		text-align: center;
	}
	.upload-block .highlight{
		color: red;
	}
	</style>
</head>
<body>
	<%- include header.html %>
<!-- 	<select class="form-control"> 
	<option value="-1">-- 请选择项目 --</option>  
	<% for(var i in cats) { %>
		<option value="<%= i %>"><%= cats[i] %></option>
	<% } %>
</select> -->
	<div id="upload" class="upload-block">
		<p>将svg文件拖拽至框中上传，<span class="highlight">SVG名以H-(h-), M-(m-)开头被认为是移动端icon，其他默认为pc端icon</span>。</p>
		<p>可以将 svg 文件打包成 zip 压缩包批量上传。<span class="highlight">(目前只支持 zip 压缩包)</span></p>
	</div>
	<%- include footer.html %>
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script>
	var obj = $("#upload");
	obj.on('dragenter', function (e){
	    e.stopPropagation();
	    e.preventDefault();
	    $(this).css('border', '2px solid #0B85A1');
	});
	obj.on('dragover', function (e) {
	     e.stopPropagation();
	     e.preventDefault();
	});
	obj.on('drop', function (e) {
	 
	     $(this).css('border', '2px dotted #0B85A1');
	    e.preventDefault();
	    var files = e.originalEvent.dataTransfer.files;
	 
	     //We need to send dropped files to Server
	     //console.log(files)
	    handleFileUpload(files,obj);
	});

	function handleFileUpload(files,obj){
	   for (var i = 0; i < files.length; i++){
	        var fd = new FormData();
	        fd.append('file', files[i]);
	        fd.append('platform', $('.form-control').val());
	 
	        //var status = new createStatusbar(obj); //Using this we can set progress.
	        //status.setFileNameSize(files[i].name,files[i].size);
	        sendFileToServer(fd,status);
	   }
	}

	function sendFileToServer(formData,status){
	    var uploadURL ="/upload"; //Upload URL
	    var extraData ={}; //Extra Data.
	    var jqXHR = $.ajax({
	        xhr: function() {
	            var xhrobj = $.ajaxSettings.xhr();
	            if (xhrobj.upload) {
	                    xhrobj.upload.addEventListener('progress', function(event) {
	                        var percent = 0;
	                        var position = event.loaded || event.position;
	                        var total = event.total;
	                        if (event.lengthComputable) {
	                            percent = Math.ceil(position / total * 100);
	                        }
	                        //Set progress
	                        //status.setProgress(percent);
	                    }, false);
	                }
	            return xhrobj;
	        },
	        url: uploadURL,
	        type: "POST",
	        contentType:false,
	        processData: false,
	        cache: false,
	        data: formData,
	        success: function(data){
	            //status.setProgress(100);
	            //$("#status1").append("File upload Done<br>");
	            console.log('succ');
	            location.href = '/index';           
	        },
	        error: function(){
	        	console.log('err');
	        }
	    });  
	    //status.setAbort(jqXHR);
	}

	</script>
</body>
</html>