.header{
	width: 100%;
	background: #38b7ea;
}
.menu{
	width: 1000px;
	margin: 0 auto;
	height: 70px;
	
}

.menu ul {
	position: relative;
}
.menu-item{
	float: left;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
}
.menu-item a {
	color: #fff;
	display: block;
	padding: 0 15px;
}
.menu-item a:hover{
	text-decoration: none;
	color: #fff;
}


.user-name {
	position: absolute;
	right: 200px;
}
.search-panel {
	float: right;
	padding-right: 0;
}
.search-form {
	position: relative;
}
.search-form input {
	border: none;
	outline: none;
	border-radius: 2px;
	padding: 5px;
	font-size: 14px;
	color: #999;
	line-height: 20px;
}

.search-form .search-btn{
	color: #000; 
	padding: 0;
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 26px;
}
