.header{
	width: 100%;
	background: #38b7ea;
}
.menu{
	width: 1000px;
	margin: 0 auto;
	height: 50px;
	
}

.menu ul {
	position: relative;
}
.menu-item{
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
.menu-item a {
	color: #fff;
	display: inline-block;

	padding: 0 15px;
}
.menu-item a:hover{
	text-decoration: none;
	color: #fff;
}


.user-name {
	position: absolute;
	right: 200px;
	/*width: 100px;*/
}

.user-name img{
	height: 23px;
	width: 23px;
	vertical-align: middle;
}
.user-name ul li:first-child{
	margin-top: 6px;
}
.user-name ul li{
	background-color: #38b7ea;
	text-align: center;
	height: 40px;
	color: #000;
	/*margin-top: 6px;*/
}
.user-name ul li:hover{
	background-color: #38a0ea;
}
.user-name a{
	/*padding: 0 10px;*/

}
.user-name ul li a{
	height: inherit;
	font-size: 14px;
	line-height: 40px;
	position: relative;
	top: -5px;
}
#personOption{
	display: none;
}
.arrow{
	display: none;
	width: 0;
	height: 0;
	border: 6px solid;
	border-color: transparent transparent #38b7ea transparent;
	border-style: dashed dashed solid dashed;
	position: absolute;
	top: 44px;
	left: 44px;
}

.search-panel {
	float: right;
	padding-right: 0;
}
.search-form {
	position: relative;
}
.search-form input {
	border: none;
	outline: none;
	border-radius: 2px;
	padding: 5px;
	font-size: 14px;
	color: #999;
	line-height: 20px;
}

.search-form .search-btn{
	color: #000; 
	padding: 0;
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 16px;
}
