.layout{
	width: 1000px;
	margin: 0 auto;
    min-height: 500px;
}


.border-bottom1px{
	border-bottom: 1px dotted;
}
.list-title{
	font-size: 20px;
	height: 80px;
	line-height: 80px;
}
.list-title span {
    font-size: 12px;
    color: #757575;
}

.relative{
	position: relative;
}
.rightBtn{
	position: absolute;
	display: block;
	right: 0;
	top: 20px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	width: 120px;
	border-radius: 4px;
	text-align: center;
	background-color: #38b7ea;
	color: #fff;
	display: none;
}

.icon{
	margin: 10px 0;
	color:#333;
	width: 100px;
	text-align: center;
	height: 100px;
	float: left;
}

.icon:hover{
	cursor: pointer;
}
.icon .icon-font{
	font-size: 42px;
	display: block;
}

.icon a {
    color: #333;
    display: block;
}

.icon-checked{
	background: rgb(245, 245, 245);
	position: relative;
}

/*
* 平台自身的iconfont和显示的iconfont区分开
*/
.icon-checked:after{
    content: "\ffff";
    position: absolute;
    font-family: "platfont";
    color: #ff4400;
    top: 0;
    right: 0;
}

.icon .icon-content{
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
}
.icon .icon-name{
	display: block;
	font-size: 14px;
}


.icon:hover{
	background: rgb(245, 245, 245);
}

.back2top{
	font-family: "platfont";
	font-size: 20px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: auto;
    cursor: pointer;
    color: #9c9c9c;
    background: rgb(245, 245, 245);
    margin-top: 10px;
}
.back2top:after{
	content: "\fffe";
}