.layout{
	width: 960px;
	margin: 0 auto;
}

.border-bottom1px{
	border-bottom: 1px dotted;
}
.list-title{
	font-size: 20px;
	height: 80px;
	line-height: 80px;
}

.icon{
	margin: 10px 0;
	color:#333;
	width: 100px;
	text-align: center;
	height: 100px;
	float: left;
}
.icon .icon-font{
	font-size: 42px;
	display: block;
}


.icon .icon-content{
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
}
.icon .icon-name{
	display: block;
	font-size: 14px;
}


.icon:hover{
	background: rgb(245, 245, 245);
}

.back2top{
	font-size: 20px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: auto;
    cursor: pointer;
    color: #9c9c9c;
    background: rgb(245, 245, 245);
    margin-top: 10px;
}