html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
legend{color:#000}
i{font-style:normal;}
a{text-decoration: none;}
.clearfix:after {content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0;}

body{font-family: tahoma, 'microsoft yahei', 微软雅黑;}
