.container {
    width: 960px;
    margin: 50px auto 0;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.side-left {
    width: 340px;
    float: left;
    padding: 30px;
    height: 100%;
}

.s-name {
    margin-top: 50px;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.icon-font {
    display: block;
    font-size: 200px;
}
.side-right {
    float: left;
    padding: 30px;
    width: 500px;
}

.add-form input {
    margin-top: 20px; 
    height: 40px;
    line-height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
}
.btn {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-align: center;
    background: #38b7ea;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}
.add-form select{
    width: 208px;
    display: block;
    margin-top: 20px;
    height: 42px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}