.upload-block{
	width: 960px;
	margin: 20px auto 50px;
	height: 350px;
	padding-top: 200px;
	border: 1px solid #ddd;
	position: relative;
}
.upload-block p{
	color: #666;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	
}
.upload-block .highlight{
	color: red;
}
.u-info {
	width: 960px;
	margin: 20px auto;
	display: none;
	min-height: 500px;
}
.u-title {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.info li {
	height: 30px;
	line-height: 30px;
}
.info .error {
	color: red;
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #999;
	z-index: 10;
	display: none;
}

.mask p {
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	margin-top: -16px;
	color: #fff;
}
.option{
	text-align: center;
}
.option a{
	display: inline-block;
	width: 80px;
	height: 35px;
	margin-left: 20px;
	background-color: #38b7ea;
	vertical-align: middle;
	color: #fff;
	line-height: 35px;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
} 
.form-control{
	width: 800px;
	display: inline-block;
	margin: 50px auto 0;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addProject{
	display: none;
	position: absolute;
	z-index: 30;
	left: 40%;
	border-radius: 5px;
	margin: 0 auto;
	width: 350px;
	height: 120px;
	background-color: #38b7ea;
	color: #fff;
	/*text-align: center;*/
	font-size: 16px;
}
.addProject label{
	font-size: 16px;
	margin-left: 30px;
}
.addProject span{
	margin-left: 10px;
	font-size: 14px;
}
.addProject #project{
	margin-top: 32px;
	width: 130px;
	color: #fff;
	outline:none;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top:0px ;
    border-left:0px ;
    border-right:0px ;
    background-color: #38b7ea;
	/*height: 25px;*/

}
.addProject .submit{
	cursor: pointer;
	margin-top: 15px;
	margin-left: 120px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	background-color: #38b7ea;
	color: #fff;
	border: 1px solid #96d2f6;
	font-size: 14px;

}
.addProject .submit:hover{
	background-color: #40a8d2;
}