@font-face { 
font-family: "platfont";src: url("./fonts/platfont.eot");
src: url("./fonts/platfont.eot?#iefix") format("embedded-opentype"),
url("./fonts/platfont.woff") format("woff"),
url("./fonts/platfont.ttf") format("truetype"),
url("./fonts/platfont.svg#platfont") format("svg");}
.icon-font{font-family:"platfont";font-size:40px;font-style:normal;}
%i-iconfont-guanbi{
	&:after{
		content:"\ffff";
	}
}
.i-iconfont-guanbi:after{content: "\ffff";}
%i-iconfont-player-play{
	&:after{
		content:"\fffe";
	}
}
.i-iconfont-player-play:after{content: "\fffe";}
%i-iconfont-ren{
	&:after{
		content:"\fffd";
	}
}
.i-iconfont-ren:after{content: "\fffd";}