@font-face { 
font-family: "platfont";src: url("./fonts/platfont.eot");
src: url("./fonts/platfont.eot?#iefix") format("embedded-opentype"),
url("./fonts/platfont.woff") format("woff"),
url("./fonts/platfont.ttf") format("truetype"),
url("./fonts/platfont.svg#platfont") format("svg");}
.icon-font{font-family:"platfont";font-size:16px;font-style:normal;}
%i-right{
	&:after{
		content:"\ffff";
	}
}
.i-right:after{content: "\ffff";}
%i-to-top{
	&:after{
		content:"\fffe";
	}
}
.i-to-top:after{content: "\fffe";}