@font-face { 
font-family: "platfont";src: url("./fonts/platfont.eot");
src: url("./fonts/platfont.eot?#iefix") format("embedded-opentype"),
url("./fonts/platfont.woff") format("woff"),
url("./fonts/platfont.ttf") format("truetype"),
url("./fonts/platfont.svg#platfont") format("svg");}
.icon-font{font-family:"platfont";font-size:40px;font-style:normal;}
%i-a-education{
	&:after{
		content:"\ffff";
	}
}
.i-a-education:after{content: "\ffff";}
%i-a-media{
	&:after{
		content:"\fffe";
	}
}
.i-a-media:after{content: "\fffe";}
%i-a-profession{
	&:after{
		content:"\fffd";
	}
}
.i-a-profession:after{content: "\fffd";}
%i-a-teacher{
	&:after{
		content:"\fffc";
	}
}
.i-a-teacher:after{content: "\fffc";}
%i-add{
	&:after{
		content:"\fffb";
	}
}
.i-add:after{content: "\fffb";}
%i-alert{
	&:after{
		content:"\fffa";
	}
}
.i-alert:after{content: "\fffa";}
%i-arrow-bottom{
	&:after{
		content:"\fff9";
	}
}
.i-arrow-bottom:after{content: "\fff9";}
%i-arrow-top{
	&:after{
		content:"\fff8";
	}
}
.i-arrow-top:after{content: "\fff8";}
%i-back{
	&:after{
		content:"\fff7";
	}
}
.i-back:after{content: "\fff7";}
%i-calendar{
	&:after{
		content:"\fff6";
	}
}
.i-calendar:after{content: "\fff6";}
%i-checkbox-checked{
	&:after{
		content:"\fff5";
	}
}
.i-checkbox-checked:after{content: "\fff5";}
%i-checkbox{
	&:after{
		content:"\fff4";
	}
}
.i-checkbox:after{content: "\fff4";}
%i-circle{
	&:after{
		content:"\fff3";
	}
}
.i-circle:after{content: "\fff3";}
%i-comment{
	&:after{
		content:"\fff2";
	}
}
.i-comment:after{content: "\fff2";}
%i-edit{
	&:after{
		content:"\fff1";
	}
}
.i-edit:after{content: "\fff1";}
%i-group{
	&:after{
		content:"\fff0";
	}
}
.i-group:after{content: "\fff0";}
%i-heart{
	&:after{
		content:"\ffef";
	}
}
.i-heart:after{content: "\ffef";}
%i-info{
	&:after{
		content:"\ffee";
	}
}
.i-info:after{content: "\ffee";}
%i-logo{
	&:after{
		content:"\ffed";
	}
}
.i-logo:after{content: "\ffed";}
%i-lu{
	&:after{
		content:"\ffec";
	}
}
.i-lu:after{content: "\ffec";}
%i-phone{
	&:after{
		content:"\ffeb";
	}
}
.i-phone:after{content: "\ffeb";}
%i-play{
	&:after{
		content:"\ffea";
	}
}
.i-play:after{content: "\ffea";}
%i-qborder{
	&:after{
		content:"\ffe9";
	}
}
.i-qborder:after{content: "\ffe9";}
%i-qq{
	&:after{
		content:"\ffe8";
	}
}
.i-qq:after{content: "\ffe8";}
%i-qr-code{
	&:after{
		content:"\ffe7";
	}
}
.i-qr-code:after{content: "\ffe7";}
%i-question{
	&:after{
		content:"\ffe6";
	}
}
.i-question:after{content: "\ffe6";}
%i-radio-checked{
	&:after{
		content:"\ffe5";
	}
}
.i-radio-checked:after{content: "\ffe5";}
%i-radio{
	&:after{
		content:"\ffe4";
	}
}
.i-radio:after{content: "\ffe4";}
%i-refresh{
	&:after{
		content:"\ffe3";
	}
}
.i-refresh:after{content: "\ffe3";}
%i-right{
	&:after{
		content:"\ffe2";
	}
}
.i-right:after{content: "\ffe2";}
%i-search{
	&:after{
		content:"\ffe1";
	}
}
.i-search:after{content: "\ffe1";}
%i-share{
	&:after{
		content:"\ffe0";
	}
}
.i-share:after{content: "\ffe0";}
%i-star-border{
	&:after{
		content:"\ffdf";
	}
}
.i-star-border:after{content: "\ffdf";}
%i-star{
	&:after{
		content:"\ffde";
	}
}
.i-star:after{content: "\ffde";}
%i-success{
	&:after{
		content:"\ffdd";
	}
}
.i-success:after{content: "\ffdd";}
%i-tel{
	&:after{
		content:"\ffdc";
	}
}
.i-tel:after{content: "\ffdc";}
%i-time{
	&:after{
		content:"\ffdb";
	}
}
.i-time:after{content: "\ffdb";}
%i-times{
	&:after{
		content:"\ffda";
	}
}
.i-times:after{content: "\ffda";}
%i-to-top{
	&:after{
		content:"\ffd9";
	}
}
.i-to-top:after{content: "\ffd9";}
%i-user-border{
	&:after{
		content:"\ffd8";
	}
}
.i-user-border:after{content: "\ffd8";}
%i-user-group-border{
	&:after{
		content:"\ffd7";
	}
}
.i-user-group-border:after{content: "\ffd7";}
%i-user-group{
	&:after{
		content:"\ffd6";
	}
}
.i-user-group:after{content: "\ffd6";}
%i-user{
	&:after{
		content:"\ffd5";
	}
}
.i-user:after{content: "\ffd5";}
%i-v-bottom{
	&:after{
		content:"\ffd4";
	}
}
.i-v-bottom:after{content: "\ffd4";}
%i-v-double-bottom{
	&:after{
		content:"\ffd3";
	}
}
.i-v-double-bottom:after{content: "\ffd3";}
%i-v-double-left{
	&:after{
		content:"\ffd2";
	}
}
.i-v-double-left:after{content: "\ffd2";}
%i-v-double-right{
	&:after{
		content:"\ffd1";
	}
}
.i-v-double-right:after{content: "\ffd1";}
%i-v-double-top{
	&:after{
		content:"\ffd0";
	}
}
.i-v-double-top:after{content: "\ffd0";}
%i-v-left-bold{
	&:after{
		content:"\ffcf";
	}
}
.i-v-left-bold:after{content: "\ffcf";}
%i-v-left{
	&:after{
		content:"\ffce";
	}
}
.i-v-left:after{content: "\ffce";}
%i-v-right-bold{
	&:after{
		content:"\ffcd";
	}
}
.i-v-right-bold:after{content: "\ffcd";}
%i-v-right{
	&:after{
		content:"\ffcc";
	}
}
.i-v-right:after{content: "\ffcc";}
%i-v-top{
	&:after{
		content:"\ffcb";
	}
}
.i-v-top:after{content: "\ffcb";}
%i-weixin-border{
	&:after{
		content:"\ffca";
	}
}
.i-weixin-border:after{content: "\ffca";}
%i-weixin{
	&:after{
		content:"\ffc9";
	}
}
.i-weixin:after{content: "\ffc9";}